/* 1280 x 600 */
@media (min-width: 1280px) and (max-width: 600px) {
	.carousel-inner {
	  height: 866px;
	}
	.down_arrow {
	  top: 816px;
	}

}

/* 980 x 1280 */
@media (min-width: 980px) and (max-width: 1280px) {
	.portfolio .nav.nav-tabs.text-center {
	  margin: 0 auto 0 22%;
	}
}

/* 800 x 1280 */
@media (min-width: 800px) and (max-width: 1280px) {
	.blog_three {
	  margin-top: 0 !important;
	}
	.carousel-inner {
	  height: 865px;
	}
	.down_arrow {
	  top: 809px;
	}
	.navigation_menu .nav.navbar-nav.navbar-right a {
	  padding-left: 11px !important;
	  padding-right: 11px !important;
	}
	.darkHeader .nav.navbar-nav.navbar-right a {
	  padding-left: 17px !important;
	  padding-right: 17px !important;
	}
}

/* 768 x 1024 */
@media (min-width: 768px) and (max-width: 1024px) {
	.navigation_menu .nav.navbar-nav.navbar-right a {
	  padding-left: 10px !important;
	  padding-right: 10px !important;
	}
	.darkHeader .nav.navbar-nav.navbar-right a {
	  padding-left: 13px !important;
	  padding-right: 13px !important;
	}	#main_logo {
	  display: block;
	  margin: 0 auto;
	}
	#about_para > br {
	  display: none;
	}
	.box_out {
	  font-size: 14px;
	}
	.company_statistics_row .fa.fa-comment-o {
	  margin-bottom: 66px;
	}
	.portfolio .nav.nav-tabs.text-center {
	  margin: 0 auto 0 14%;
	}
	.carousel-inner {
	  height: 815px;
	}
	.down_arrow {
	  top: 762px;
	}
	.blog_three {
	  margin-top: 28px;
	}

}


/* 640 x 360*/
@media (min-width: 640px) and (max-width: 360px){
	.price {
	  margin: 0 0 27px;	
	}
	.navigation_menu {
	  padding-top: 12px !important;
	}
	.darkHeader{
		padding-top: 12px !important;
	}
}



/*380*/
@media(min-width: 380px) and (max-width: 620px){
	.portfolio .nav.nav-tabs.text-center {
	  margin: 0 auto 0 0;
	}
	.media {
	  margin-left: 24px !important;
	}
	.fa.fa-comment-o {
	  margin-bottom: 60px;
	}
	.blog_content .img-responsive {
	  width: 100%;
	}
	.blog_content {
	  background: #f1f1f1 none repeat scroll 0 0;
	  border: 1px solid #ddd;
	  margin-bottom: 30px;
	}
}

/* 360 x 640 */
@media (min-width: 360px) and (max-width: 640px) {
	.company_statistics_row .col-md-3.col-sm-6.col-xs-6 {
	  padding: 0;
	}
	.navigation_menu button.navbar-toggle.collapsed{
		margin-right: 30px; 
	}
	.build_business {
	  font-size: 22px;
	}
	.profesonal {
	  margin-top: 73px;
	  padding: 0 10px 3px;
	}
	#portfolios {
	  padding: 6px;
	}
	#purchese {
	  margin-top: 13px;
	  padding: 6px;
	  position: relative;
	  top: 6px;
	}
	.owl-carousel .owl-item img {
	  display: block;
	  height: 350px;
	  width: 100%;
	}
	#form_one input {
	  border: 1px solid #fff;
	  border-radius: 0;
	  margin-bottom: 17px;
	}
}


/*320 x 480*/
@media (min-width: 320px) and (max-width: 480px) {
	#contact_info {
	  margin: 0 0 20px;
	  padding: 0;
	  text-align: center;
	}
	#register_info {
	  float: left !important;
	  margin-left: 33%;
	  padding: 0;
	}
	.navigation_menu {
	  top: 107px;
	}
	.carousel-caption {
	  top: 190px;
	  z-index: 5;
	}
	.profesonal {
	  font-size: 20px;
	  margin-top: 55px;
	  padding: 0 10px 3px;
	}
	.build_business {
	  font-size: 20px;
	}
	#purchese {
	  font-size: 14px;
	  margin-left: 0;
	  margin-right: 4px;
	  margin-top: 13px;
	}
   .contact_row_one input {
      margin-bottom: 15px;
    } 
	.carousel-inner {
	  height: 625px;
	}
	.down_arrow {
	  top: 574px;
	}
	#love_design {
	  font-size: 26px;
	  letter-spacing:1px;
	}
	#about_para {
	  font-size: 18px;
	  margin-top: 24px;
	  text-align: justify;
	}
	.our_skills {
	  margin-top: 0;
	}
	.company_statistics .media-body > h1 {
	  font-size: 26px;
	  text-align: left;
	}
	.company_statistics .media-body > p {
	  text-align: left;
	}
	.company_statistics_row .fa.fa-comment-o {
	  margin-bottom: 65px;
	}
	.company_statistics_row .fa.fa-paper-plane-o {
	  margin-bottom: 65px;
	}
	.who_we_are {
	  text-align: center;
	}
	.portfolio .nav.nav-tabs.text-center {
	  margin: 0 auto 0 0;
	}
	.portfolio .nav.nav-tabs.text-center a {
	  font-size: 14px;
	}
	.img-responsive.portfolio_img {
	  height: 185px;
	}
	.demo-1 h2 {
	  font-family: "Lato";
	  font-size: 16px;
	  line-height: 0;
	  margin: 0;
	  text-align: center;
	}
	.pricing_one {
	  margin-bottom: 20px;
	}
	.pricing_two {
	  margin-bottom: 20px;
	}
	.blog_one {
	  margin-bottom: 20px;
	}
	.blog_two {
	  margin-bottom: 20px;
	}
	.darkHeader {
	  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	}
	#about_para > br {
	  display: none;
	}
	.navigation_menu .navbar-collapse.collapse.in {
	  float: left;
	  position: relative;
	  right: 173px;
	}
	.darkHeader .navbar-collapse.collapse.in {
	  float: left;
	  position: relative;
	  right: 187px;
	}
	.navbar-nav {
	  width: 341px;
	}
	.navigation_menu .drop-menu.menu-1 {
	  left: 148px;
	  position: absolute;
	  top: -181px;
	  z-index: 6666;
	}
	.darkHeader .drop-menu.menu-1 {
	  left: 148px;
	  position: absolute;
	  top: -174px;
	  z-index: 6666;
	}
	.drop-menu.menu-1 > li {
	  min-width: 160px;
	}
	.darkHeader .nav.navbar-nav.navbar-right > li {
	  width: 190px;
	}
	.navigation_menu .nav.navbar-nav.navbar-right > li {
	  width: 190px;
	}
	.navigation_menu {
	  background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
	}
	#portfolios {
	  font-size: 14px;
	}
	.navigation_menu .navbar-nav {
	  width: 372px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border-color: #e7e7e7;
	  margin-bottom: 20px;
	  margin-top: 20px;
	}
	.navigation_menu .nav.navbar-nav.navbar-right a {
	  text-align: left !important;
	}
	.darkHeader .nav.navbar-nav.navbar-right a {
	  text-align: left !important;
	}
	#menu_one .drop_li {
	  text-align: center !important;
	}
}








